div.jumbotron {
  background-color: fff;
}

.jumbotron {
  background: url(backg.jpg) no-repeat 50%;
  background-color: fff;
}

.jumbotron h1 {
  color: #D141C5;
}

.vkposition {
  float: right;
  margin-right: -150px
}

.btn-primary {
  background-color: #5E81A8!important;
  border-color: #5E81A8!important;
  margin-left: 15px
}

<!--стили для таблицы в ридми -->
.tftable {
  font-size: 12px;
  color: #333333;
  width: 100%;
  border-width: 1px;
  border-color: #ebab3a;
  border-collapse: collapse;
}

.tftable th {
  font-size: 12px;
  background-color: #e6983b;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ebab3a;
  text-align: left;
}

.tftable tr {
  background-color: #ffffff;
}

.tftable td {
  font-size: 12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #ebab3a;
}

.tftable tr:hover {
  background-color: #ffff99;
}
